@model IEnumerable<University.Models.TeacherModel>

<p>
    @Html.ActionLink("Add New Employee", "AddEmployee")
</p>

<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    @Html.HiddenFor(model => item.Empid)
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTeacherDetails", new {  id=item.TeacherId }) |
            @Html.ActionLink("Delete", "DeleteTeacher", new { id = item.TeacherId },new {onclick="return confirm('Are sure wants to delete?');" })
        </td>
    </tr>
   
}

</table>

